[lcn_opt]
in_path = /data_group/miaoke/wangya/ST/test/cds/
out_path = /data_group/miaoke/wangya/ST/test/out/
thread = 10
orthoDB = /data_group/miaoke/wangya/datasets/embryophyta_odb10/embryophyta_odb10.hmm
cover = 8
aln_software = mafft
tree_software = raxml
copy_number = 1
mode = 3
coa_con = 0
seq = codon

[snp_opt]
vcf_file = in.vcf
out_path = /path/to/output/
tree_software = treebst