[opt]
in_path = D:\WANG\Species_Tree\CS\cds
out_path = D:\WANG\Species_Tree\CS\out
thread = 1
orthodb = /path/to/buscoDB
aln_software = mafft
tree_software = raxmal
cover = 7
copy_number = 1
mode = 0
seq = cds
coa_con = 0

[software]
hmmscan=D:\software\Easy_species_tree\hmmer-3.1b1-cygwin\binaries\hmmscan
mafft=D:\software\Easy_species_tree\mafft-7.511-win64-signed\mafft-win\mafft
trimal=D:\software\Easy_species_tree\trimal.v1.2rev59\trimAl\bin\trimal
raxmal=D:\software\Easy_species_tree\raxmlHPC
astral=D:\software\Easy_species_tree\ASTRAL-5.7.1\astral.5.7.1.jar