[opt]
in_path = D:\WANG\Species_Tree\cs\
out_path = D:\WANG\Species_Tree\Species_Tree\aaa
thread = 1
orthodb = /path/to/buscoDB
aln_software = muscle
tree_software = iqtree
cover = 7
copy_number = 1
mode = 0
seq = cds
coa_con = 0

[software]
hmmscan=/path/to/hmmscan
mafft=/path/to/mafft
muscle=/path/to/muscle
trimal=/path/to/trimal
raxmal=/path/to/raxmal
iqtree=/path/to/iqtree
astral=/path/to/astral.jar