[opt]
in_path = D:\WANG\Species_Tree\cs\
out_path = D:\WANG\Species_Tree\Species_Tree\aaa
thread = 1
orthodb = /path/to/buscoDB
aln_software = muscle
tree_software = iqtree
cover = 7
copy_number = 1
mode = 0
seq = cds
coa_con = 0

[software]
hmmscan=D:\software\Easy_species_tree\hmmer-3.1b1-cygwin\binaries\hmmscan
mafft=D:\software\Easy_species_tree\mafft-7.511-win64-signed\mafft-win\mafft
trimal=D:\software\Easy_species_tree\
raxmal=D:\software\Easy_species_tree\
iqtree=D:\software\Easy_species_tree\
astral=D:\software\Easy_species_tree\